{{ $columns := .Get "count" | default "3" }}
{{ $events := where (where .Site.RegularPages "Section" "events") "Params.upcoming" false }}

{{ if eq (len $events) 0 }}
  <div class="message">
    <h3>Stay Tuned!</h3>
    <p>Our events archive will be updated soon with our past achievements.</p>
  </div>
{{ else }}
  <div class="cards columns-{{ $columns}}">
    {{ range $events }}
      <div class="card">
        <h2>{{ .Title }}</h2>
        <p><em>{{ .Params.event_date }}</em></p>
        <p><em>{{ .Description }}</em></p>
        <p class="content-preview">{{ .Summary | truncate 150 }}</p>
        <div class="spacer"></div>
        <a href="{{ .RelPermalink }}" class="button">View Details</a>
      </div>
    {{ end }}
  </div>
{{ end }} 